numpy
torch
tensorflow
scikit-learn
matplotlib
scipy
seaborn
pandas
data/contributor_I.mat
data/contributor_II.mat
data/sentences_eeg_train.pkl
data/sentences_eeg_val.pkl

.idea

*/__pycache__/*

../readme.excalidraw
../readme2.excalidraw
../Meeting Summary Document.pdf